{
  "presets": [
    "@babel/env",
    [
      "@babel/preset-react",
      {
        "typescript": true
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-typescript"
  ]
}